.recipes-grid{
    max-width: 1200px;
    margin: 4rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    // ipad/tablet
    @media (min-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
    }

    // desktop
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}